# VS Code
.vscode
!.vscode/tasks.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Dependencies
node_modules/

# Build files
dist/

# dotenv environment variable files
.development.env
.production.env

# Logs
logs/

# Uploaded Files
uploads